* {
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
#header {
    height: 120px;
}
#header>ul{
    padding-left: 0px;
    margin-top: 33px;
    display: inline-block;
    height: 53px;
    overflow: hidden;
}
#header>ul>li {
    padding: 33px 40px 0px 40px;
    float: left;
}
#header>ul>li:nth-child(4) {
    padding-top: 0px;
}
#header>ul>li:hover, a:hover {
    color: red;
    text-decoration: underline black;
}
a {
    color: black;
}
#main_picture {
    height: 464px;
    background-image: url(./img/main.png);
    background-size: 100% 100%;
}
#icon_title {
    padding: 30px 0px;
}
#icon_box {
    width: 1240px;
    padding: 10px 0px;
    overflow: hidden;
}
#icon_box>p {
    width: 250px;
    padding: 30px 0px;
    margin: 0px 30px;
    font-size: 14px;
    line-height: 25px;
    float: left;
    border-bottom: dotted 2px gray;
}
#chefs {
    height: 304px; width: 100%;
    background-color: #ececec;
}
#chefs>div.chefsbox {
    width: 771px; height: 100%;
}
div.chefsbox>p {
    margin-top:130px;
    text-align: left;
    float: left;
    font-size: 14px;
    width: 500px;
}
div.chefsbox>p::before {
    content: 'Title';
    display: block;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid 2px black;
}